@import './styles/base.css';
@import './styles/components.css';
@import './styles/utilities.css';
@import './styles/override.css';
@import './styles/gimmicks.css';

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 0; /* Firefox */
  }
}
